* {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /*1 rem = 10px*/
  max-width: 100%;
  background-color: black;
}

h1 {
  font-size: 5rem;
  color: red;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
